@import "../../styles/variables.module";

.catBoxContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0 0 16px rgb(0 0 0 / 15%);
  border-radius: 10px;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 15px 15px 30px 15px;

  img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    -webkit-transform-origin: center;
    transform-origin: center;
    border-radius: 10px 10px 0 0;
    opacity: 1;
  }

  .info {
    padding: 0 15px 10px 15px;
    display: flex;
    flex-direction: column;

    p {
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      text-overflow: ellipsis;
    }

    h3, p {
      margin: 0;
    }
  }

  .placeHolder {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1010px) {
  .catBoxContainer {
    width: calc(50% - 30px);
  }
}

@media screen and (min-width: 1100px) {
  .catBoxContainer {
    width: calc(33.33333% - 30px);
  }
}

